/* style.css */

h1, h2, h3, p, a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img {
    height: auto;
    width: 300px;
}

/* This is a useless class, but I'm leaving it here to potentially explore it more. 
.hero-image {
    background-color: blue;
}
*/
